.cart-page {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .shared-cart-page-cards {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 700px) {
      align-items: center;
      justify-content: center;
    }
    .card {
      max-width: 20rem;
      margin-right: 1rem;
      margin-bottom: 1rem;

      @media (max-width: 700px) {
        margin: 0 1rem;
      }

      button {
        display: none;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  &__price-info {
    flex: 0 0 30%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 90vh;
    border-radius: 0.4rem;
    position: sticky;
    top: 1rem;
    padding: 1rem 2rem;

    h2 {
      margin: 0 0 1rem 0;
    }
    & > div {
      margin: 1.5rem 0;
    }

    .price-info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .share-text {
        width: 100%;
        overflow: scroll;
        border: 1px solid var(--green);
        background-color: var(--green-light);
        border-radius: 0.5rem;
        padding: 1rem;
        color: var(--green);
        p:nth-of-type(2) {
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-all;
          word-break: break-word;
          color: var(--black);
        }
      }

      .price-info__item {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1rem;
          margin: 0 0 1rem 0;
          font-weight: bold;

          &:last-child {
            color: var(--primary);
          }
        }
      }
      .price-info__button {
        button {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .card.horizontal .card__image {
    max-height: 15rem;
  }
}
