.product-page {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__filters {
    flex: 0 0 20%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 90vh;
    border-radius: 0.4rem;
    position: sticky;
    top: 1rem;
    padding: 1rem;

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 768px) {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      margin: 0 0 1rem 0;
    }
    & > div {
      margin: 1.5rem 0;
      &.price-range {
        margin-bottom: 3rem;
      }
    }
  }

  select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-image: none;
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: 0.25em;
    overflow: hidden;
    border: 1px solid var(--black);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

    &:after {
      content: "\25BC";
      position: absolute;
      top: -3px;
      right: 0;
      padding: 1em;
      transition: 0.25s all ease;
      pointer-events: none;
    }
    &:hover::after {
      color: var(--primary);
    }
  }

  .card__buttons {
    button {
      margin-right: 0.5rem;
      i {
        margin-right: 0;
      }
    }
  }
}
